version: '2'
services:
  mongodb:
    image: mongo:3
    restart: always
    volumes:
      - /opt/monitor/graylog/mongo_data:/data/db
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.5.4
    restart: always
    volumes:
      - /opt/monitor/graylog/es_data:/usr/share/elasticsearch/data
    environment:
      - http.host=0.0.0.0
      - transport.host=localhost
      - network.host=0.0.0.0
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
  graylog:
    image: graylog/graylog:3.0
    restart: always
    volumes:
      - /opt/monitor/graylog/journal:/usr/share/graylog/data/journal
      - /opt/monitor/graylog/GeoLite2-City.mmdb:/etc/graylog/server/GeoLite2-City.mmdb:ro
    environment:
      - GRAYLOG_PASSWORD_SECRET={{ haproxy_monitor_graylog_secret }}
      - GRAYLOG_ROOT_PASSWORD_SHA2={{ haproxy_monitor_graylog_root_sha2 }}
      - 'GRAYLOG_HTTP_BIND_ADDRESS=0.0.0.0:9000'
      - 'GRAYLOG_HTTP_PUBLISH_URI=http://graylog:9000/graylog/'
      - GRAYLOG_ROOT_TIMEZONE={{ haproxy_monitor_graylog_timezone }}
    links:
      - mongodb:mongo
      - elasticsearch
    depends_on:
      - mongodb
      - elasticsearch
    ports:
      - 11002:11002/udp
  haproxy:
    image: prom/haproxy-exporter
    command: "--haproxy.scrape-uri='http://{{ haproxy_stats_username }}:{{ haproxy_stats_password }}@{{ haproxy_domain }}:9000/haproxy_stats?stats;csv'"
  prometheus:
    image: prom/prometheus
    restart: always
    volumes:
      - /opt/monitor/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - /opt/monitor/prometheus/data:/prometheus
    links:
      - haproxy
    depends_on:
      - haproxy
  grafana:
    image: grafana/grafana
    restart: always
    volumes:
      - /opt/monitor/grafana/data:/var/lib/grafana
    environment:
      - 'GF_SERVER_ROOT_URL=http://localhost:3000/grafana/'
      - GF_SECURITY_ADMIN_PASSWORD={{ haproxy_monitor_grafana_password }}
    links:
      - prometheus
    depends_on:
      - prometheus
  nginx:
    image: nginx
    volumes:
      - /opt/monitor/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /opt/monitor/nginx/data:/usr/share/nginx/html:ro
    links:
      - grafana
      - graylog
    depends_on:
      - grafana
      - graylog
    ports:
      - 80:80
