/*
* Hubuntu UI
* https://github.com/720kb/hubuntu-ui
* brought to you by 720kb
* Support 720kb.net
* License - MIT
*/
html {
  font-family: 'Ubuntu', sans-serif; }

.nav-wrapper ul li {
  height: 64px; }
.nav-wrapper ul li a i {
  display: inline; }

.content {
  padding: 1% 2%; }

.brand-logo.page-title {
  padding-left: 2%;
  margin-top: 8px; }

.nav-badge {
  margin-left: -8px;
  position: absolute;
  line-height: 15px;
  top: 8px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  padding: 1px 5px 1px 4px;
  background: rgba(0, 0, 0, 0.87); }

.blink {
  font-weight: bolder;
  font-family: Arial;
  animation: blinker .8s linear infinite; }


.logo {
  height: 64px;
  text-align: center; }
  .logo img {
    margin-top: 10px; }

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  text-align: center; }
  .loading img {
    margin-top: 16%; }

@keyframes blinker {
  50% {
    opacity: 0.0; } }

@-webkit-keyframes blinker {
  50% {
    opacity: 0.0; } }

@-moz-keyframes blinker {
  50% {
    opacity: 0.0; } }
